*{
    margin: 0%;
    
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.heading{
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    background: 
        url('https://upload.wikimedia.org/wikipedia/commons/5/5c/Guru_Nanak_Dev_Engineering_College%2C_Ludhiana%2C_Punjab%2C_India_9.jpg') no-repeat center center fixed, 
        url('https://images.shiksha.com/mediadata/images/1519122882phpRESgjV.png') no-repeat bottom center;
    background-size: cover, contain;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.total {
    font-weight: bold;
}
.certificate-container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}
.certificate-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.certificate-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.certificate-container p {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}
.content-container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.content-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    word-wrap: break-word; /* Ensures long words break and wrap */
    overflow-wrap: break-word; /* Ensures long words break and wrap */
}
.link-section {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .link-section a {
            color: #3498db;
            text-decoration: none;
            font-weight: bold;
        }
        .link-section a:hover {
            text-decoration: underline;
        }
