body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

.content-container {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.link-section a {
    color: #4db8ff;
    text-decoration: none;
}

.link-section a:hover {
    text-decoration: underline;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
    background-color: #555;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    font-size: 1rem;
    min-width: 600px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
}

th {
    background-color: #444;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #666;
}

.total td {
    font-weight: bold;
    background-color: #444;
}

p {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    color: #f39c12;
}

.certificate-container img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

.certificate-description {
    margin: 0 auto;
    text-align: justify;
    max-width: 800px;
    padding: 10px;
}

@media (max-width: 768px) {
    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 0.8rem;
    }

    th, td {
        padding: 6px;
    }
}